.dueDate__block {
    /* position: absolute; */
    /* top: 37px; */
    background-color: #fff;
    z-index: 5;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #CFCBCB;
    border-radius: 5px;
    padding: 10px 0;
    width: 260px;
    flex-direction: column;
    align-items: center;

   
}

.header__block--input {
    display: flex;
    justify-content: space-around;
}

.header__input {
    width: 35% !important;
}
.header__input .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
	border-radius: 10px;
	font-size: 13px !important;
    color: #0b0b0b !important;
}

.header__input .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
	border-style: solid !important;
}

.header__input .MuiOutlinedInput-input {
    padding: 9px !important;
}

/*Calendar*/
.css-169iwlq-MuiCalendarPicker-root {
    width: 235px !important;
}

.css-1cnkspq {
    min-height: 154px !important;
}

.css-1v994a0 {
    font-size: 12px !important;
}
.css-1dozdou {
    padding-left: 14px !important;
    padding-right: 5px !important;
}

.css-1w13o7u-MuiTypography-root {
    width: 28px !important;
    height: 30px !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root {
    width: 28px !important;
    height: 28px !important;
}

.css-188yni7-MuiPickersDay-root {
    width: 28px !important;
    height: 28px !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root {
    width: 28px !important;
    height: 28px !important;
}

/* footer */
.footer__block {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    border-top: 1px solid #4e4e4e;
    padding-top: 10px;
}

#footer__button--clearAll {
    border: none;
    font-weight: bold;
    color: #6d6c6c;
    width: 25%;
    padding: 20px 0;
    border-radius: 5px;
    margin-right: 10px; 
}

#footer__button--clearAll:hover {
    color: #0b0b0b;
}

#footer__button--submit {
    border: none;
    font-weight: bold;
    color: #6d6c6c;
    width: 25%;
    padding: 20px 0;
    border-radius: 5px;
}

#footer__button--submit:hover {
    color: #0b0b0b;
}