.cards-drop-preview {
	background-color: rgba(150, 150, 200, 0.1);
	border: 1px dashed #abc;
	margin: 5px 45px 5px 5px;
}

.opacity-ghost {
	transition: all 0.18s ease;
	cursor: ns-resize;
	background-color: white;
	box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.3);
	cursor: ns-resize;
}

.opacity-ghost-drop {
	opacity: 1;
	background-color: white;
	box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0);
}

.smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper {
	overflow: visible;
}

.projectTable__box--addSection {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 140px;
	cursor: pointer;
	background-color: #F9F8F8;
	padding: 8px;
	border-radius: 5px;
	margin-left: 10px;
	margin-bottom: 10px;
	color: #6d6e6f;
}

.projectTable__box--addSection:hover {
	background-color: #F3F1F1;
}

.projectTable__icon--addSection {
	font-size: 20px !important;
}
.projectTable__typo--addSection {
	font-weight: bold !important;
	font-size: 15px !important;
}