.workspace__form {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    z-index: 1201;
}

.workspace--container {
    background-color: #fff;
    color: #424244;
    padding: 20px 20px 5px 20px;
    /* height: 55% !important; */
    box-sizing: border-box;
    width: 50%;
    margin-top: 50px;
    border-radius: 15px;
    position: relative;
}


