.workspace__label {
    font-size: 13px;
    line-height: 33px;
    text-transform: capitalize;
    color: #A2A0A2;
    display: flex;
    align-items: flex-start;
}

.workspace__input .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input{
    font-size: 14px;
}
.css-1qia6yv-MuiFormControl-root-MuiTextField-root {
    margin-top: 0 !important;
}